@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  padding: 50px 0;
  width: 100%;
  height: 252.78px;
  background-color: $color-primary;

  &__container {
    @extend %container;

    display: grid;
    justify-content: center;
    justify-items: center;
  }

  &__socials {
    position: relative;

    &:before {
      content: "";
      display: block;
      height: 2px;
      width: 75px;
      background-color: rgba($color-gray-light, 0.1);

      position: absolute;
      bottom: -20px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &__copy {
    margin-right: -8px;
    color: $color-gray-light;

    span {
      font-weight: bold;
      letter-spacing: 0.05em;

      &:first-child {
        font-weight: 100;
        color: rgba($color-gray-light, 0.28);
        letter-spacing: 0.33em;
      }
    }
  }
}
